title = "Сборник"
url = "/book/:slug"
layout = "default"
is_hidden = 0
==
<?php

use Dontliem1\Simsimvegan\Models\Book;
use Dontliem1\Simsimvegan\Models\Recipe;

public function onStart() {
    $this['book'] = Book::where('slug', $this->param('slug'))->with('recipes.photos')->first();
    if (!$this->book) {
        return redirect('404');
    }
    $this->page['title'] = $this->book->name;
    $this['units'] = Recipe::getUnitOptions();
    $this['isPaid'] = $this->book->telegrams && $this->loggedUsername && str_contains($this->book->telegrams, $this->loggedUsername);
    $this['recipes'] = $this->book->recipes->sortBy('sort_order');
}
?>
==
{{ html_image(book.cover|media, '', { width: 320, height: 178, class: 'book__cover' }) }}
<h1 class="book__title">{{ this.page.title }}</h1>
<div class="book__start container">
    {% if not isPaid %}
        <div class="book-price">
            <p>Чтобы приобрести сборник, напишите мне в одной из социальных сетей из шапки сайта.</p>
            <p class="book-price__cost">{{ book.price }} ₽</p>
        </div>
    {% endif %}
    <div class="book__introduction">{{ book.introduction|md }}</div>
    <div class="book-anchors">
        <h2 class="book-anchors__title">Рецепты</h2>
        <ul class="book-anchors__list">{% for recipe in recipes %}<li>{{ isPaid ? html_link('#'~recipe.slug, recipe.name) : recipe.name }}</li>{% endfor %}</ul>
    </div>
</div>
{% if isPaid %}
{% for recipe in recipes %}
    <article class="recipe container" id="{{ recipe.slug }}">
        {% set photos = recipe.photos().get() %}
        {% if photos %}
        <div class="recipe-photos">
            {% for photo in photos %}
                {{ html_image(photo.path, photo.title, { width: photo|imageWidth, height: photo|imageHeight, loading: 'lazy' }) }}
            {% endfor %}
        </div>
        {% endif %}
        <h2 class="recipe__name">{{ recipe.name }}</h2>
        <p class="recipe__portions">{{ recipe.portions }}</p>
        <div class="recipe-ingridients">
            <h3 class="visually-hidden" hidden>Ингридиенты</h3>
            {% for ingridients_list in recipe.ingridients_lists %}
                {% if ingridients_list.title %}<h4 class="recipe-ingridients__title">{{ ingridients_list.title }}</h4>{% endif %}
                <ul class="recipe-ingridients__list">
                {% for ingridientRow in ingridients_list.ingridients %}
                    <li><b>{{ ingridientRow.quantity|replace({ '0.5': '1/2', '0.25': '1/4' }) }} {{ units[ingridientRow.unit] }} {{ ingridientRow.name }}</b> {{ ingridientRow.description }}</li>
                {% endfor %}
                </ul>
            {% endfor %}
        </div>
        <div class="recipe-content">
            {{ recipe.content|md }}
        </div>
        <div class="recipe-notes">
            <h3>Заметки повара</h3>
            {{ recipe.chefs_note|md }}
        </div>
    </article>
{% endfor %}
{% if book.ingridients %}
<section class="container book-ingredients">
    <details>
        <summary><h2>Про ингредиенты</h2></summary>
        <ul class="book__anchors book-ingredients__contents"></ul>
        <div class="book__notes">{{ book.ingridients|md }}</div>
        <script>
            const bookIngredientsHeadings = document.querySelectorAll('.book-ingredients h4');
            const bookIngredientsContents = document.querySelector('.book-ingredients__contents');
            
            for (let i = 0; i < bookIngredientsHeadings.length; i++) {
                const bookIngredientsHeadingElement = document.createElement('li');
                const bookIngredientsHeadingLink = document.createElement('a');
                const id = `ingredient${i + 1}`;

                bookIngredientsHeadings[i].id = id;
                bookIngredientsHeadingLink.href = `#${id}`;
                bookIngredientsHeadingLink.textContent = bookIngredientsHeadings[i].textContent;
                bookIngredientsHeadingElement.appendChild(bookIngredientsHeadingLink);
                bookIngredientsContents.appendChild(bookIngredientsHeadingElement);
            }
        </script>
    </details>
</section>
{% endif %}
<section class="container book__notes">
    {{ book.notes|md }}
</section>
{% else %}
{% endif %}