title = "Рецепты"
url = "/"
layout = "default"
is_hidden = 0
==
<?php

use Dontliem1\Simsimvegan\Models\Book;

public function onStart() {
    $this['books'] = Book::orderBy('sort_order')->get();
    $this['badgeLabels'] = Book::getBadgesOptions();
}
?>
==
<div class="book-list container">
    <h1>{{ this.page.title }}</h1>
    <ul>
        {% for book in books %}
            <li>
                <a class="book-list__item" href="{{ 'book'|page({ slug: book.slug }) }}">
                    {{ html_image(book.cover|media, '', { width: 200, height: 200 }) }}
                    <div class="book-list__text">
                        <h3>{{ book.name }}</h3>
                        <p>
                            {% for badge in book.badges %}
                                <span class="badge badge--{{ badge }}">{{ badgeLabels[badge] }}</span>
                            {% endfor %}
                        </p>
                        <p class="book-list__description">{{ book.description }}</p>
                        {% if not loggedUsername or not book.telegrams or not (loggedUsername in book.telegrams) %}
                        <p class="book-list__price">{{ book.price }} ₽</p>
                        {% endif %}
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
</section>
