.header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding-block: .5rem 1rem;

    & iframe {
        mix-blend-mode: darken;
    }
    & a:last-of-type {
        margin-inline-end: auto;
    }
}
.header__btn {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    font-weight: 500;
    background-color: #54a9eb;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
    border: none;
    color: #fff;
    cursor: pointer;
    line-height: 17px;
    padding: 5px 14px 6px;
    border-radius: 14px;
}